In [107]:
import pandas as pd
data = pd.read_csv('https://gist.githubusercontent.com/guilhermesilveira/4d1d4a16ccbf6ea4e0a64a38a24ec884/raw/afd05cb0c796d18f3f5a6537053ded308ba94bf7/car-prices.csv')
data.head()

   Unnamed: 0  mileage_per_year  model_year      price sold
0           0             21801        2000   30941.02  yes
1           1              7843        1998   40557.96  yes
2           2              7109        2006   89627.50   no
3           3             26823        2015   95276.14   no
4           4              7935        2014  117384.68  yes

In [108]:
a_renomear = {
    'mileage_per_year' : 'milhas_por_ano',
    'model_year' : 'ano_do_modelo',
    'price' : 'preco',
    'sold' : 'vendido'
}
data.rename(columns=a_renomear, inplace=True)
data.head()
data.drop(columns = ['Unnamed: 0'], inplace=True)
data.head()

   milhas_por_ano  ano_do_modelo      preco vendido
0           21801           2000   30941.02     yes
1            7843           1998   40557.96     yes
2            7109           2006   89627.50      no
3           26823           2015   95276.14      no
4            7935           2014  117384.68     yes

In [109]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
import numpy as np

In [110]:
a_trocar = { 'no': 0, 'yes': 1}
data.vendido = data.vendido.map(a_trocar)

from datetime import datetime
ano_atual = datetime.today().year
data['idade_do_modelo'] = ano_atual - data.ano_do_modelo

data['km_por_ano'] = data.milhas_por_ano * 1.60934


data.drop(columns = ['milhas_por_ano', 'ano_do_modelo'], inplace=True)

In [111]:
data.head()

       preco  vendido  idade_do_modelo   km_por_ano
0   30941.02        1               24  35085.22134
1   40557.96        1               26  12622.05362
2   89627.50        0               18  11440.79806
3   95276.14        0                9  43167.32682
4  117384.68        1               10  12770.11290

In [112]:
seed = 5
np.random.seed(seed)
x = data[['km_por_ano', 'idade_do_modelo', 'preco']]
y = data['vendido']

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, test_size = 0.25, stratify= y)
modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)
acuracia = accuracy_score(teste_y, previsoes) * 100
print ("a acuracia foi %2f%%"  %acuracia)
#modelo linear

c:\Users\LUCAS\anaconda3\Lib\site-packages\sklearn\svm\_classes.py:32: FutureWarning: The default value of `dual` will change from `True` to `'auto'` in 1.5. Set the value of `dual` explicitly to suppress the warning.
  warnings.warn(

a acuracia foi 46.880000%

c:\Users\LUCAS\anaconda3\Lib\site-packages\sklearn\svm\_base.py:1242: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

In [113]:
from sklearn.dummy import DummyClassifier

dummy_stratified = DummyClassifier()
dummy_stratified.fit(treino_x, treino_y)
acuracia = dummy_stratified.score(teste_x, teste_y) * 100
previsao = dummy_stratified.predict(teste_x)
acuracia = accuracy_score(teste_y, previsao) * 100
print ("a acuracia do dummy foi %2f%%"  %acuracia)
#modelo dummy, baseline

a acuracia do dummy foi 58.000000%

In [114]:
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC

seed = 5
np.random.seed(seed)
scaler = StandardScaler()
raw_treino_x, raw_teste_x, raw_treino_y, raw_teste_y = train_test_split(x, y, test_size = 0.25, stratify= y)
scaler.fit(raw_treino_x)
scaler.fit(raw_teste_x)
treino_x = scaler.transform(raw_treino_x)
teste_x = scaler.transform(raw_teste_x)

modelo = SVC()
modelo.fit(treino_x, raw_treino_y)
previsoes = modelo.predict(teste_x)
acuracia = accuracy_score(raw_teste_y, previsoes) * 100
print ("a acuracia foi %1f%%"  %acuracia)
#modelo final

a acuracia foi 77.480000%